:root {
    --cor-um: brown;
    --cor-dois: blanchedalmond;
    --cor-três: black;
    --cor-quatro: white;
    --cor-cinco: rgb(182, 221, 255);
}


.container {
    width: 100vw;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Just Me Again Down Here", sans-serif;
    background-color: var(--cor-cinco);
    display: flex;
    justify-content: center;
}

header {
    padding: 40px 0;
    background-color: var(--cor-um);
}

.header {
    display: flex;
    justify-content: center;
}

.header__text {
    font-size: 90px;
    font-weight: bold;
}

.header__logo {
    width: 60px;
    height: 60px;
}

.ju {
    color: var(--cor-cinco);
}

ul {
    margin-top: 35px;
    font-size: 30px;
    display: flex;
    width: 100%;
    gap: 100px;
    justify-content: center;
}

nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: end;
}

.section__banner {
    background-image: url(/img/banner_Dsk.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.section__banner--text {
    margin-right: 30px;
    padding: 40px 40px;
    background-color: var(--cor-cinco);
}

#banner__text--bold {
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 20px;
    display: flex;
    justify-content: end;
}

#banner__text--light {
    font-weight: light;
    font-size: 35px;
}

.mais {
    color: rgb(236, 162, 25);
    font-weight: bold;
}

.section__banner--buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
    margin-top: 20px;
}

.banner__buttons--branco {
    opacity: 80%;
    color: #f5f5f5
}

.baner__buttons--laranja {
    color: orange;
}



.section__benefits {
    display: flex;
    flex-direction: row;

}

.section__benefits--title {
    border: 1px solid black;
    height: 30px;
    width: 200px;
    font-size: 30px;
    color: var(--cor-um);
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
}


.section__benefits--market {
    border: 1px solid black;
    padding: 70px 70px;
    flex-direction: column;
    display: flex;
    gap: 20px;
   
}

.section__benefits--market__title {
    font-size: 25px;
    font-weight: bold;
    color: var(--cor-um);
    text-align: center;
}

.section__benefits--market__text {
    font-size: 20px;
    text-align: center;
}


.section__benefits--income {
    border: 1px solid black;
    padding: 70px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.section__benefits--income__title {
    font-size: 25px;
    font-weight: bold;
    color: var(--cor-um);
    text-align: center;
}

.section__benefits--income__text {
    font-size: 20px;
    text-align: center;
}


.section__benefits--support {
    border: 1px solid black;
    padding: 70px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.section__benefits--support__title {
    font-size: 25px;
    font-weight: bold;
    color: var(--cor-um);
    text-align: center;
}

.section__benefits--support__text {
    font-size: 20px;
    text-align: center;
}



.section__testament {}

.section__testament--title {}

.section__testament--text {}

.section__testament--sayuri {}

.section__testament--sayuri__city {}

.section__testament--sayuri__img {}



.section__model {}


..section__model--title {}

.section__model--bistro {}

.section__model--bistro__img {}

.section__model--bistro__title {}

.section__model--bistro__text {}


.section__model--kiosk {}

.section__model--kiosk__img {}

.section__model--kiosk__title {}

.section__model--kiosk__text {}



footer {}

.footer__social {}

.footer__social--text {}

.footer__social--icons {}

.footer__contact {}

.footer__contact--text {}

.footer__contact--icons {}

.footer__signature {}